<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table width="400%" cellpadding="3" cellspacing="3" border="1">
    <thead>
    <tr>
        <th colspan="3"></th>
        <th colspan="4">Fur</th>
        <th colspan="4">Pattern</th>
        <th colspan="4">Eye Color</th>
        <th colspan="4">Eye Shape</th>
        <th colspan="4">Base Color</th>
        <th colspan="4">Highlight Color</th>
        <th colspan="4">Accent Color</th>
        <th colspan="4">Wild</th>
        <th colspan="4">Mouth</th>
    </tr>
    <tr>
        <th>Kitty Id</th>
        <th>Gen</th>
        <th>Sale</th>

        {% for i,category in categories %}

        <th>D0</th>
        <th>R1</th>
        <th>R2</th>
        <th>R3</th>

        {% endfor %}
    </tr>
    </thead>

    <tbody>
        {% for id,kitty in kitties %}
        <tr>
            <td><a href="https://www.cryptokitties.co/kitty{{ kitty['id'] }}/" target="_blank">{{ kitty['id'] }}</a></td>
            <td>{{ kitty['gen'] }}</td>
            <td>{{ kitty['forSale'] }}</td>


            <td>{{ kitty['body']['D0'] }}</td>
            <td>{{ kitty['body']['R1'] }}</td>
            <td>{{ kitty['body']['R2'] }}</td>
            <td>{{ kitty['body']['R3'] }}</td>

            <td>{{ kitty['pattern']['D0'] }}</td>
            <td>{{ kitty['pattern']['R1'] }}</td>
            <td>{{ kitty['pattern']['R2'] }}</td>
            <td>{{ kitty['pattern']['R3'] }}</td>

            <td>{{ kitty['eyecolor']['D0'] }}</td>
            <td>{{ kitty['eyecolor']['R1'] }}</td>
            <td>{{ kitty['eyecolor']['R2'] }}</td>
            <td>{{ kitty['eyecolor']['R3'] }}</td>

            <td>{{ kitty['eyetype']['D0'] }}</td>
            <td>{{ kitty['eyetype']['R1'] }}</td>
            <td>{{ kitty['eyetype']['R2'] }}</td>
            <td>{{ kitty['eyetype']['R3'] }}</td>

            <td>{{ kitty['bodycolor']['D0'] }}</td>
            <td>{{ kitty['bodycolor']['R1'] }}</td>
            <td>{{ kitty['bodycolor']['R2'] }}</td>
            <td>{{ kitty['bodycolor']['R3'] }}</td>

            <td>{{ kitty['patterncolor']['D0'] }}</td>
            <td>{{ kitty['patterncolor']['R1'] }}</td>
            <td>{{ kitty['patterncolor']['R2'] }}</td>
            <td>{{ kitty['patterncolor']['R3'] }}</td>

            <td>{{ kitty['secondarycolor']['D0'] }}</td>
            <td>{{ kitty['secondarycolor']['R1'] }}</td>
            <td>{{ kitty['secondarycolor']['R2'] }}</td>
            <td>{{ kitty['secondarycolor']['R3'] }}</td>

            <td>{{ kitty['wild']['D0'] }}</td>
            <td>{{ kitty['wild']['R1'] }}</td>
            <td>{{ kitty['wild']['R2'] }}</td>
            <td>{{ kitty['wild']['R3'] }}</td>

            <td>{{ kitty['mouth']['D0'] }}</td>
            <td>{{ kitty['mouth']['R1'] }}</td>
            <td>{{ kitty['mouth']['R2'] }}</td>
            <td>{{ kitty['mouth']['R3'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
